{% extends 'renting/base.html' %}

{% block content %}

<h3>
  <small class="text-muted">About Page</small>
</h3><br>
<div class="p-3 mb-2 bg-info text-white" style="text-align: center;">This is a project app for CodersLab workshop exercises</div>
<div class="p-3 mb-2 bg-info text-white" style="text-align: center;">Author: Kacper Stasica</div>
<div class="p-3 mb-2 bg-dark text-white" style="text-align: center;"><a href="https://github.com/kacperstasica" class="text-white bg-dark">GitHub Page</a></div>

{% endblock content %}