{% extends 'renting/base.html' %}

{% block content %}
<h3>
  <small class="text-muted">Search</small>
</h3>

<form action="" method="GET">
    <label>
      Nazwa:
      {{ form.name }}
    </label>
    <label>
      Pojemność od:
      {{ form.capacity_from }}
    </label>
    <label>
      Pojemność do:
      {{ form.capacity_to }}
    </label>
    <label>
      Rzutnik:
      {{ form.has_projector }}
    </label>
    <label>
        <button type="submit" value="Dodaj">Znajdź salę</button>
    </label>
</form>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Capacity</th>
      <th scope="col">Projector</th>
    </tr>
  </thead>
  <tbody>
  {% for sala in salas %}
    <tr>
      <th scope="row">{{ sala.id }}</th>
      <td><a href="{% url 'detail' sala.id %}">{{ sala.name }}</a></td>
      <td>{{ sala.capacity }} </td>
      {% if sala.has_projector %}
      <td>Yes</td>
      {% else %}
      <td>No</td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock content %}